In [3]:
# Exploring data of Stack-Overflow

In [8]:
import pandas as pd

In [9]:
# Creating DataFrame with Pandas

In [12]:
data = pd.read_csv('files/survey_results_public.csv')

/home/andres/Documentos/cursos-platzi/curso-big-data-ciencia-datos/examples/stack-overflow-2018-developer-survey/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
# Watching files

In [20]:
data

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
5,8,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,...,1 - 2 times per week,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy
6,9,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,...,I don't typically exercise,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Somewhat easy
7,10,Yes,Yes,Nigeria,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Designer;Front-end developer;QA or test developer,...,1 - 2 times per week,Female,NaN,Primary/elementary school,Black or of African descent,25 - 34 years old,No,NaN,The survey was too long,Somewhat difficult
8,11,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy
9,16,No,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Designer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,17,Yes,No,Spain,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...","1,000 to 4,999 employees",Back-end developer;Database administrator;Mobi...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18,Yes,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",100 to 499 employees,Back-end developer;Front-end developer;Full-st...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,19,Yes,No,Croatia,NaN,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Front-end developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,20,No,No,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",20 to 99 employees,Back-end developer;Full-stack developer,...,I don't typically exercise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,21,No,No,Netherlands,"Yes, full-time",Employed full-time,"Secondary school (e.g. American high school, G...",NaN,20 to 99 employees,Back-end developer;Front-end developer;Student,...,Daily or almost every day,Male,NaN,Associate degree,White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Neither easy nor difficult
15,22,Yes,No,Israel,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Fine arts or performing arts (ex. graphic desi...,"5,000 to 9,999 employees",Full-stack developer,...,3 - 4 times per week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,26,No,No,United States,"Yes, full-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Student,...,3 - 4 times per week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,27,Yes,No,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",10 to 19 employees,Back-end developer,...,3 - 4 times per week,Male,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Somewhat difficult
18,29,Yes,Yes,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,"10,000 or more employees",Data or business analyst;Data scientist or mac...,...,Daily or almost every day,Female,NaN,Some college/university study without earning ...,NaN,NaN,NaN,NaN,The survey was too long,Very difficult
19,31,Yes,Yes,Chile,"Yes, full-time",Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,...,1 - 2 times per week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,33,Yes,Yes,Australia,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","1,000 to 4,999 employees",Database administrator;Full-stack developer;Mo...,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult
21,34,Yes,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,500 to 999 employees,Back-end developer;Desktop or enterprise appli...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy
22,37,No,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;Desi...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,NaN,The survey was too long,Neither easy nor difficult
23,38,Yes,No,United States,No,Employed full-time,Some college/university study without earning ...,NaN,10 to 19 employees,Back-end developer;Database administrator;DevO...,...,I don't typically exercise,"Female;Male;Transgender;Non-binary, genderquee...",NaN,They never completed any formal education,White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy
24,39,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Mobile developer,...,Daily or almost every day,Female;Male,NaN,NaN,NaN,25 - 34 years old,No,NaN,The survey was too long,Very easy
25,41,Yes,Yes,Greece,"Yes, full-time",Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Very easy
26,43,Yes,Yes,Sweden,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Front-end developer;Full-stack developer,...,1 - 2 times per week,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",Hispanic or Latino/Latina;White or of European...,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
27,44,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",100 to 499 employees,Back-end developer;Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,No,No,The survey was too long,Very easy
28,45,Yes,Yes,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Data scientist or machine l...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,46,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,...,I don't typically exercise,NaN,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Black or of African descent;East Asian;Hispani...,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98825,101084,Yes,No,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98826,101085,Yes,Yes,Russian Federation,No,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98827,101114,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98828,101120,No,No,Russian Federation,NaN,Employed full-time,Primary/elementary school,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98829,101138,Yes,Yes,Netherlands,"Yes, full-time",Employed part-time,"Secondary school (e.g. American high school, G...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98830,101151,Yes,Yes,India,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98831,101152,Yes,No,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98832,101154,Yes,Yes,Netherlands,No,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98833,101170,Yes,No,India,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,Back-end developer;QA or test developer;Student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98834,101185,Yes,Yes,Poland,NaN,"Not employed, and not looking for work",Primary/elementary school,NaN,NaN,Back-end developer;Designer;Student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98835,101200,Yes,Yes,Viet Nam,"Yes, full-time",NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98836,101202,Yes,Yes,"Iran, Islamic Republic of...","Yes, full-time",Employed full-time,I never completed any formal education,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98837,101205,Yes,No,Czech Republic,"Yes, full-time","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98838,101258,No,No,Poland,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98839,101263,Yes,Yes,India,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98840,101281,Yes,Yes,India,"Yes, part-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98841,101310,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98842,101358,Yes,Yes,Pakistan,No,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98843,101366,Yes,No,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98844,101371,Yes,Yes,India,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98845,101391,No,Yes,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98846,101396,Yes,Yes,Azerbaijan,NaN,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98847,101411,No,No,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98848,101432,Yes,No,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98849,101478,No,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98850,101513,Yes,Yes,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98851,101531,No,Yes,Spain,"Yes, full-time","Not employed, but looking for work",NaN,NaN,NaN,Back-end developer;Front-end developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98852,101541,Yes,Yes,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98853,101544,Yes,No,Russian Federation,No,"Independent contractor, freelancer, or self-em...",Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98854,101548,Yes,Yes,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#Countries

0                               Kenya
1                      United Kingdom
2                       United States
3                       United States
4                        South Africa
5                      United Kingdom
6                       United States
7                             Nigeria
8                       United States
9                               India
10                              Spain
11                              India
12                            Croatia
13                              India
14                        Netherlands
15                             Israel
16                      United States
17                             Sweden
18                              India
19                              Chile
20                          Australia
21                      United States
22                     United Kingdom
23                      United States
24                              India
25                             Greece
26                             Sweden
27                      United States
28                      United States
29                     United Kingdom
                     ...
98825                           India
98826              Russian Federation
98827                             NaN
98828              Russian Federation
98829                     Netherlands
98830                           India
98831              Russian Federation
98832                     Netherlands
98833                           India
98834                          Poland
98835                        Viet Nam
98836    Iran, Islamic Republic of...
98837                  Czech Republic
98838                          Poland
98839                           India
98840                           India
98841                             NaN
98842                        Pakistan
98843                       Indonesia
98844                           India
98845                           India
98846                      Azerbaijan
98847                   United States
98848                           India
98849                           India
98850                   United States
98851                           Spain
98852                           India
98853              Russian Federation
98854                        Cambodia
Name: Country, Length: 98855, dtype: object

In [24]:
#Count of Countries

In [27]:
data['Country'].value_counts()

United States                            20309
India                                    13721
Germany                                   6459
United Kingdom                            6221
Canada                                    3393
Russian Federation                        2869
France                                    2572
Brazil                                    2505
Poland                                    2122
Australia                                 2018
Netherlands                               1841
Spain                                     1769
Italy                                     1535
Ukraine                                   1279
Sweden                                    1164
Pakistan                                  1050
China                                     1037
Switzerland                               1010
Turkey                                    1004
Israel                                    1003
Iran, Islamic Republic of...               921
Romania                                    793
Austria                                    788
Czech Republic                             784
Belgium                                    743
Mexico                                     736
Bangladesh                                 697
Denmark                                    653
South Africa                               637
Indonesia                                  630
                                         ...
Barbados                                     4
Cape Verde                                   3
Swaziland                                    3
Mauritania                                   3
Guinea                                       3
Liberia                                      3
Marshall Islands                             2
Dominica                                     2
Suriname                                     2
Democratic People's Republic of Korea        2
Micronesia, Federated States of...           2
Palau                                        2
Niger                                        2
Central African Republic                     2
Lesotho                                      2
Guyana                                       2
Saint Lucia                                  1
Sierra Leone                                 1
Timor-Leste                                  1
Brunei Darussalam                            1
Mali                                         1
Belize                                       1
Eritrea                                      1
Burundi                                      1
Grenada                                      1
Djibouti                                     1
Nauru                                        1
San Marino                                   1
Solomon Islands                              1
Guinea-Bissau                                1
Name: Country, Length: 183, dtype: int64

In [28]:
data.head()

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [29]:
#Ages

In [35]:
data['Age']

0        25 - 34 years old
1        35 - 44 years old
2                      NaN
3        35 - 44 years old
4        18 - 24 years old
5        18 - 24 years old
6        18 - 24 years old
7        25 - 34 years old
8        35 - 44 years old
9                      NaN
10                     NaN
11                     NaN
12                     NaN
13                     NaN
14       18 - 24 years old
15                     NaN
16                     NaN
17       35 - 44 years old
18                     NaN
19                     NaN
20       35 - 44 years old
21       45 - 54 years old
22       25 - 34 years old
23       45 - 54 years old
24       25 - 34 years old
25       35 - 44 years old
26       25 - 34 years old
27       25 - 34 years old
28                     NaN
29       35 - 44 years old
               ...
98825                  NaN
98826                  NaN
98827                  NaN
98828                  NaN
98829                  NaN
98830                  NaN
98831                  NaN
98832                  NaN
98833                  NaN
98834                  NaN
98835                  NaN
98836                  NaN
98837                  NaN
98838                  NaN
98839                  NaN
98840                  NaN
98841                  NaN
98842                  NaN
98843                  NaN
98844                  NaN
98845                  NaN
98846                  NaN
98847                  NaN
98848                  NaN
98849                  NaN
98850                  NaN
98851                  NaN
98852                  NaN
98853                  NaN
98854                  NaN
Name: Age, Length: 98855, dtype: object

In [38]:
# RaceEthnicity

In [40]:
data['RaceEthnicity'].value_counts()

White or of European descent                                                                                                                                                            40541
South Asian                                                                                                                                                                              6213
Hispanic or Latino/Latina                                                                                                                                                                2718
East Asian                                                                                                                                                                               2350
Middle Eastern                                                                                                                                                                           1774
Black or of African descent                                                                                                                                                              1224
Hispanic or Latino/Latina;White or of European descent                                                                                                                                    900
Middle Eastern;White or of European descent                                                                                                                                               424
East Asian;South Asian                                                                                                                                                                    204
East Asian;White or of European descent                                                                                                                                                   199
Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                                                                  163
Black or of African descent;White or of European descent                                                                                                                                  124
Native American, Pacific Islander, or Indigenous Australian                                                                                                                               123
South Asian;White or of European descent                                                                                                                                                   88
Black or of African descent;Hispanic or Latino/Latina                                                                                                                                      62
Black or of African descent;East Asian;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;South Asian;White or of European descent       48
Black or of African descent;Middle Eastern                                                                                                                                                 29
East Asian;Middle Eastern                                                                                                                                                                  21
Black or of African descent;Hispanic or Latino/Latina;White or of European descent                                                                                                         20
Middle Eastern;South Asian                                                                                                                                                                 19
Hispanic or Latino/Latina;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                                         17
East Asian;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                                                        14
East Asian;South Asian;White or of European descent                                                                                                                                        13
East Asian;Hispanic or Latino/Latina                                                                                                                                                       13
Hispanic or Latino/Latina;Middle Eastern                                                                                                                                                   11
Black or of African descent;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                                       10
Hispanic or Latino/Latina;South Asian                                                                                                                                                      10
East Asian;Native American, Pacific Islander, or Indigenous Australian                                                                                                                      9
Black or of African descent;East Asian;White or of European descent                                                                                                                         8
Black or of African descent;Middle Eastern;White or of European descent                                                                                                                     8
                                                                                                                                                                                        ...
Hispanic or Latino/Latina;South Asian;White or of European descent                                                                                                                          4
Black or of African descent;South Asian;White or of European descent                                                                                                                        4
Black or of African descent;East Asian;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                             3
Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                           3
East Asian;Middle Eastern;South Asian                                                                                                                                                       3
East Asian;Hispanic or Latino/Latina;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                               3
Black or of African descent;Hispanic or Latino/Latina;Middle Eastern                                                                                                                        3
Black or of African descent;East Asian;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;South Asian;White or of European descent                                  3
Middle Eastern;South Asian;White or of European descent                                                                                                                                     2
Native American, Pacific Islander, or Indigenous Australian;South Asian;White or of European descent                                                                                        2
Middle Eastern;Native American, Pacific Islander, or Indigenous Australian                                                                                                                  2
East Asian;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;South Asian;White or of European descent                                    2
Black or of African descent;East Asian;Hispanic or Latino/Latina                                                                                                                            2
East Asian;Hispanic or Latino/Latina;Native American, Pacific Islander, or Indigenous Australian                                                                                            2
East Asian;Hispanic or Latino/Latina;Middle Eastern                                                                                                                                         1
East Asian;Hispanic or Latino/Latina;Native American, Pacific Islander, or Indigenous Australian;South Asian;White or of European descent                                                   1
Black or of African descent;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                               1
Black or of African descent;East Asian;Native American, Pacific Islander, or Indigenous Australian;South Asian;White or of European descent                                                 1
Black or of African descent;East Asian;Hispanic or Latino/Latina;White or of European descent                                                                                               1
Black or of African descent;East Asian;South Asian                                                                                                                                          1
East Asian;Middle Eastern;South Asian;White or of European descent                                                                                                                          1
Black or of African descent;East Asian;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian                                                 1
Black or of African descent;Hispanic or Latino/Latina;South Asian                                                                                                                           1
East Asian;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                1
Black or of African descent;Hispanic or Latino/Latina;Native American, Pacific Islander, or Indigenous Australian;South Asian                                                               1
Black or of African descent;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                         1
Black or of African descent;East Asian;Native American, Pacific Islander, or Indigenous Australian                                                                                          1
Black or of African descent;East Asian;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;White or of European descent                    1
Black or of African descent;East Asian;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;South Asian                                     1
Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian                                                                                        1
Name: RaceEthnicity, Length: 71, dtype: int64

In [48]:
#Seaborn

In [50]:
import seaborn as sns